@model WebApi.Models.ApplicationRole

@{
    Layout = null;
}




    <table id="dg1" title="角色列表" class="easyui-datagrid" style="width:100%;height:100%";margin:0;
           url="@Url.Action("GetAll", new { Area = "Admin" })"
           toolbar="#toolbar" pagination="true"
           rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
            <tr>
                <th field="Id" width="100">主键</th>
                <th field="Name" width="100">角色名</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="newUser()">添加</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">编辑</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">删除</a>
    </div>

    <div id="dlg1" class="easyui-dialog" style="width:400px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg1-buttons'">
        <form id="fm1" method="post" novalidate style="margin:0;padding:20px 50px">
            <h3>角色信息</h3>
            <div style="margin-bottom:10px">

                @Html.TextBoxFor(model => model.Id, new { @class = "easyui-textbox", required = "true", label = Html.DisplayNameFor(m => m.Id), style = "width:100%" } )
            
            </div>
            <div style="margin-bottom:10px">

                @Html.TextBoxFor(model => model.Name,  new { @class = "easyui-textbox", required = "true", label = Html.DisplayNameFor(m => m.Name), style = "width:100%" } )
            
            </div>
         
            
        </form>
    </div>
    <div id="dlg1-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton " iconCls="icon-ok" onclick="saveUser()" style="width:90px">确定</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="$('#dlg1').dialog('close')" style="width:90px">取消</a>
    </div>
  
    <script type="text/javascript">
        var url;
        function newUser() {
            $('#dlg1').dialog('open').dialog('center').dialog('setTitle', '添加角色');
            $('#fm1').form('clear');
            url = '/Admin/RoleAdmin/Create';
        }
        function editUser() {
            var row = $('#dg1').datagrid('getSelected');
            if (row) {
                $('#dlg1').dialog('open').dialog('center').dialog('setTitle', '编辑角色');
                $.get("/Admin/RoleAdmin/Get", { id: row.Id }, function (data) {
                    $('#fm1').form('load', data);
                });

                url = '/Admin/RoleAdmin/Update?id=' + row.Id;
            }
        }
        function saveUser() {
            $('#fm1').form('submit', {
                url: url,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (result) {

                    if (result == "OK") {
                        $('#dlg1').dialog('close');
                        $('#dg1').datagrid('reload');

                    } else {
                        $.messager.show({
                            title: 'Error',
                            msg: result
                        });
                    }
                }
            });
        }
        function destroyUser() {
            var row = $('#dg1').datagrid('getSelected');
            if (row) {
                $.messager.confirm('确认', '你确定要删除？', function (r) {
                    if (r) {
                        $.post('/Admin/RoleAdmin/Delete', { userId: row.Id }, function (result) {
                            if (result == "OK") {
                                $('#dg1').datagrid('reload');	
                            } else {
                                $.messager.show({	
                                    title: 'Error',
                                    msg: result
                                });
                            }
                        });
                    }
                });
            }
        }
    </script>