@{
    ViewBag.Title = "DEMO purpose Email Link";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    邮件发送成功
</p>
<p class="text-danger">
    或者你可以点击此测试链接 <a href="@ViewBag.Link" >link</a>
    
</p>
