@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
       用户不存在或未验证
    </p>
    @if (ViewBag.Link != null)
    {
        <p>
            邮件发送成功，请确认邮件
        </p>
        <p class="text-danger">
            或者你可以点击此测试链接 <a href="@ViewBag.Link">link</a>

        </p>
    }
</div>

