
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
   @Styles.Render("~/Content/EasyUICss")
 
</head>
<body class="easyui-layout">
    <div data-options="region:'north',border:false" title="后台管理系统" style="height:130px;background:#B3DFDA;padding:10px;text-align:center">
       @Html.Action("MenuGroup")
    </div>
    <div data-options="region:'west',split:true" title="菜单导航" style="width:180px;padding:10px;">
     @Html.Action("Menu")
    </div>
    <div data-options="region:'east',split:true,title:'日历信息'" style="width:240px;padding:10px;">
        <div id="cc" class="easyui-calendar" style="width:180px;height:180px;"></div>
    </div>
    <div id="bottom" data-options="region:'south',border:false" style="height:50px;background:#A9FACD;padding:10px;text-align:center;">
        版权所有：L 
    </div>
    <div id="center" data-options="region:'center'" title="网站首页〉用户管理〉用户列表">
        <div id="tab" class="easyui-tabs" data-options="fit:'true'"></div>
 
    </div>

    @Scripts.Render("~/bundles/EasyUI")
    <script>
        $(function () {
            $(".ml").click(function (event) {
                event.preventDefault();
                var src = $(this).attr("href");
                var title = $(this).text();
       
                var isExist = $("#tab").tabs('exists', title);
                if (!isExist) {
                    $("#tab").tabs('add', {

                        title: title,
                       href: stc,
                        iconCls: 'icon-save',
                        closable: true
                    });
                }
                else {
                    $("#tab").tabs('select', title);

                }
            });
        })

        function userView() {
            $.get("/Admin/Home/UserIndex", null, function (data) {
                $("#dlg").dialog("destroy");
                $("#center").html(data);
                var temp = $('body').layout('panel', 'center');
                temp.panel('setTitle', '网站首页〉用户管理〉用户列表');
                $.parser.parse($("#center"));
            });
        }
        function roleView() {
            $.get("/Admin/Home/RoleIndex", null, function (data) {
                $("#dlg").dialog("destroy");
                $("#center").html(data);
                var temp = $('body').layout('panel', 'center');
                temp.panel('setTitle', '网站首页〉角色管理〉角色列表');
                $.parser.parse($("#center"));
            });
        }
        function productView() {
            $.get("/Admin/Home/ProductIndex", null, function (data) {
                $("#dlg").dialog("destroy");
                $("#center").html(data);
                var temp = $('body').layout('panel', 'center');
                temp.panel('setTitle', '网站首页〉产品管理〉产品列表');
                $.parser.parse($("#center"));
            });
        }
    </script>
</body>
</html>