
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
   @Styles.Render("~/Content/EasyUICss")
    <style>
        .icon {
            display: inline-block;
            width: 14px;
            height: 14px;
            padding-right:5px;
        }
        .top_menu {
            display: block;
            width: 30px;
            height: 30px;
        }
        .hover {
            background: #B3DFDA;
            opacity:0.5;
        }
        .selected {
            background: #B3DFDA;
            opacity: 0.8;
        }
    </style>
</head>
<body class="easyui-layout">
    <div data-options="region:'north',border:false" title="后台管理系统" style="height:100px">
        <div id="top_menu" style="float:right">
  
        </div>
    </div>
    <div  data-options="region:'west',split:true" title="菜单导航" style="width:180px;">
        <div id="nav" class="easyui-accordion" fit="true" border="false"></div>
        </div>
        <div id="bottom" data-options="region:'south',border:false" style="height:50px;background:#A9FACD;text-align:center;">
            版权所有：L
        </div>
        <div id="center" data-options="region:'center'">
            <div id="tab" class="easyui-tabs" data-options="fit:'true'"></div>
        </div>

        @Scripts.Render("~/bundles/EasyUI")
        <script>
            $(function () {
                $.ajax({
                    url: "@Url.Action("MenuGroups")",
                    success: function (data) {
                        ps.initMenus(data);
                    }
                });
     
            });
            var ps = function ($) {
                var ps = {
                    createDialog: function () {
                        $("<div>").attr({
                            id: "dialog"
                        }).prependTo($("body"));
                    },
                    initMenus: function (data) {
                        $.each(data, function (index, item) {
                            $('<a  href="##"></a>').linkbutton({
                                iconCls: item.Icon,
                                size: 'large',
                                iconAlign: 'top',
                                text: item.Name,
                                toggle: true,
                                group:'top'
                            }).click(function () {
                                menu.initLeftMenu(item);
                            }).appendTo($("#top_menu"));
                        });
                        $("#top_menu a:first-child").trigger("click");
                    }
                };

                var menu = {
                    initLeftMenu: function (data) {
                        menu.clear();
                        $(data.Menus).each(function (index, item) {
                            menu.addMenu(item,index);
                        });
                        var pp = $('#nav').accordion('panels');
                        var t = pp[0].panel('options').title;
                        $('#nav').accordion('select', t);
                    },
                    clear: function () {
                        var length = $("#nav").accordion('panels').length;
                        for (var i = 0; i < length; i++) {
                            $("#nav").accordion('remove', 0);
                        }
                    },
                    addMenu: function (data,index) {
                        var $div = $('<div>');
                        $.each(data.MenuItems, function (i, item) {
                            var $a = $('<a href="##">').linkbutton({
                                iconCls: item.Icon,
                                text: item.Text,
                                plain: true,
                                group: index.toString(),
                                toggle:true
                            }).css({
                                width:'100%'
                            }).click(function () { menu.addTab(item.Href, item.Icon, item.Text) }).appendTo($div);
                        });
                        $("#nav").accordion('add', {
                            title: data.Title,
                            content: $div,
                            iconCls: data.Icon
                        })
                    },
                    addTab: function (href, icon, title) {
                        var isExist = $("#tab").tabs('exists', title);
                        if (!isExist) {
                            $("#tab").tabs('add', {
                                title: title,
                                href: href,
                                iconCls: icon,
                                closable: true
                            });
                        }
                        else {
                            $("#tab").tabs('select', title);

                        }
                    },
                };

                return ps;
            }(jQuery);
        </script>
</body>
</html>