
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理系统</title>
   @Styles.Render("~/Content/EasyUICss")
 
</head>
<body class="easyui-layout">
    <div data-options="region:'north',border:false" title="后台管理系统" style="height:130px;background:#B3DFDA;">
       @Html.Action("MenuGroup")
    </div>
    <div id="nav" data-options="region:'west',split:true" title="菜单导航" style="width:180px;"> </div>
     <div id="bottom" data-options="region:'south',border:false" style="height:50px;background:#A9FACD;text-align:center;">
            版权所有：L
        </div>
     <div id="center" data-options="region:'center'">
         <div id="tab" class="easyui-tabs" data-options="fit:'true'"></div>
     </div>

        @Scripts.Render("~/bundles/EasyUI")
        <script>
            $(function () {

            })
            function createDialog() {
                $("<div>").attr({
                    id: "dialog"
                }).prependTo($("body"));
            }
        </script>
</body>
</html>