@model IEnumerable<WebApi.Models.Menu>
@{
    Layout = null;
}
<div  class="easyui-accordion" fit="true" border="false">
    @foreach (var menu in Model)
    {
        <ul title="@menu.Title"  style="padding:10px">
            @foreach (var item in menu.Items)
            {
            <li  style="padding-bottom:10px"><a href="@item.Href" onclick="return initMenu(this)" style=""><sapn class="icon-edit" ></sapn>@item.Text</a></li>
            }
        </ul>
    }
</div>
<script>
    $(function () {
        $('#nav a').hover(function () {
            $(this).addClass("hover");
        }, function () {
            $(this).removeClass("hover")
        });
    })
    function initMenu(that) {
        var src = $(that).attr("href");
        var title = $(that).text();
        var isExist = $("#tab").tabs('exists', title);
        if (!isExist) {
            $("#tab").tabs('add', {
                title: title,
                href: src,
                iconCls: 'icon-save',
                closable: true
            });
        }
        else {
            $("#tab").tabs('select', title);

        }
        return false;
    }
</script>