@model IEnumerable<WebApi.Models.MenuGroup>
@{
    Layout = null;
}
<div style="float:right">
    @foreach(var mg in Model)
    {
            <a onclick="initMenuGroup(@mg.Id)" href="##">@mg.Name<span></span></a>
    }
</div>
<script>
    function initMenuGroup(id) {
        $("#nav").load("" + id);
    }
</script>