@model IEnumerable<WebApi.Models.MenuGroup>
@{
    Layout = null;
}
<div style="float:right">
    @foreach(var mg in Model)
    {
    <div><a onclick="initMenuGroup(@mg.Id)" href="##">@mg.Name<span></span></a></div>
    }
</div>
<script>
    function initMenuGroup(id) {
        $("#nav").load("@Url.Action("Menu")" + "/" + id, function () {
            $.parser.parse($("#nav"));
        });
    }
</script>