@model WebApi.Models.Product
@{
    Layout = null;
}
<table id="productGrid"  class="easyui-datagrid" style="width:100%;height:100%" ;margin:0;
       url="@Url.HttpRouteUrl("DefaultApi", new { controller = "Product" })"
       method="Get"
       toolbar="#toolbar" pagination="true"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
        <tr>
            <th field="Id" width="100">主键</th>
            <th field="Name" width="100">产品名</th>
            <th field="Price" width="100">价格</th>
            <th field="ActualCost" width="100">成本</th>
        </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="ps.productHandler.newProduct()">添加</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="ps.productHandler.editProduct()">编辑</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="ps.productHandler.destroyProduct()">删除</a>
</div>

<script type="text/javascript">
    (function($,ps) {
        var productHandler = {};
        ps.productHandler = productHandler;
        productHandler.apiUrl = "@Url.HttpRouteUrl("DefaultApi",new { Controller="Product"})" + "/";
        productHandler.url = "@Url.Action("ProductDialog")" + "/";
        productHandler.newProduct = function () {
            ps.createDialog();
            $('#dialog').dialog({
                iconCls: 'icon-save',
                width: 400,
                modal: true,
                href: productHandler.url,
                onClose: function () {
                    $('#dialog').dialog("destroy");
                },
                buttons: [{
                    text: '添加',
                    iconCls: "icon-ok",
                    handler: productHandler.postSave
                },
                {
                    text: '关闭',
                    iconCls: "icon-cancel",
                    handler: function () { $('#dialog').dialog("destroy"); }
                }]
            }).dialog('open').dialog('center').dialog('setTitle', '添加产品');
        };
        productHandler.editProduct = function () {
            var row = $('#productGrid').datagrid('getSelected');
            if (row) {
                ps.createDialog();
                $('#dialog').dialog({
                    iconCls: 'icon-save',
                    width: 400,
                    modal: true,
                    href: productHandler.url + row.Id,
                    onClose: function () {
                        $('#dialog').dialog("destroy");
                    },
                    buttons: [{
                        text: '添加',
                        iconCls: "icon-ok",
                        handler: function () { putSave(row); }
                    }, {
                        text: '关闭',
                        iconCls: "icon-cancel",
                        handler: function () { $('#dialog').dialog("destroy"); }
                    }]
                }).dialog('open').dialog('center').dialog('setTitle', '编辑产品');
            }
        }
        productHandler.postSave = function () {
            if (!$("#productFm").form("validate")) return false;
            var data = $("#productFm").serialize();
            $.ajax({
                url: productHandler.apiUrl,
                type: "Post",
                data: data,
                success: function (result) {
                    $('#dialog').dialog('destroy');
                    $('#productGrid').datagrid('reload');
                }
            }).fail(function (jqxhr) {
                var result = jqxhr.responseJSON
                $.messager.show({
                    title: 'Error',
                    msg: result.Message
                });
            });
        }
        productHandler.putSave = function (row) {
            if (!$("#fm").form("validate")) return false;
            var data = $("#fm").serialize();
            $.ajax({
                url: productHandler.apiUrl + row.Id,
                type: "Put",
                data: data,
                success: function (result) {
                    $('#dlg').dialog('close');
                    $('#productGrid').datagrid('reload');
                }
            }).fail(function (jqxhr) {
                var result = jqxhr.responseJSON
                $.messager.show({
                    title: 'Error',
                    msg: result.Message
                });
            });
        }

        productHandler.destroyProduct = function (row) {
            var row = $('#productGrid').datagrid('getSelected');
            if (row) {
                $.messager.confirm('确认', '你确定要删除该产品？', function (r) {
                    if (r) {
                        $.ajax({
                            url: productHandler.apiUrl + row.Id,
                            type: "Delete",
                            success: function (data) {
                                $('#productGrid').datagrid('reload');
                            }
                        }).fail(function (jqxhr) {
                            var result = jqxhr.responseJSON
                            $.messager.show({
                                title: 'Error',
                                msg: result.Message
                            });
                        })
                    }
                });
            }
        }
    } )(jQuery, ps);
</script>