@model WebApi.Models.ApplicationRole
@{
    Layout = null;
}


<table id="roleGrid"  class="easyui-datagrid" style="width:100%;height:100%" ;margin:0;
       url="@Url.HttpRouteUrl("DefaultApi", new { controller = "Role" })"
       method="Get"
       toolbar="#toolbar" pagination="true"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
        <tr>
            <th field="Id" width="100">主键</th>
            <th field="Name" width="100">角色名</th>
        </tr>
    </thead>
</table>
<div id="toolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="ps.roleHandler.newRole()">添加</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="ps.roleHandler.editRole()">编辑</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="ps.roleHandler.destroyRole()">删除</a>
</div>

<script type="text/javascript">
    (function ($, ps) {
        var apiUrl = "@Url.HttpRouteUrl("DefaultApi",new { Controller="Role"})" + "/",
            url = "@Url.Action("RoleDialog")" + "/",
            postSave = function () {
                if (!$("#roleFm").form("validate")) return false;
                var data = $("#roleFm").serialize();
                $.ajax({
                    url: apiUrl,
                    type: "Post",
                    data: data,
                    success: function (result) {
                        $('#dialog').dialog('destroy');
                        $('#roleGrid').datagrid('reload');
                    }
                }).fail(function (jqxhr) {
                    var result = jqxhr.responseJSON
                    $.messager.show({
                        title: 'Error',
                        msg: result.Message
                    });
                });
            },
            putSave = function (row) {
                if (!$("#roleFm").form("validate")) return false;
                var data = $("#roleFm").serialize();
                $.ajax({
                    url: apiUrl + row.Id,
                    type: "Put",
                    data: data,
                    success: function (result) {
                        $('#dialog').dialog('destroy');
                        $('#roleGrid').datagrid('reload');
                    }
                }).fail(function (jqxhr) {
                    var result = jqxhr.responseJSON
                    $.messager.show({
                        title: 'Error',
                        msg: result.Message
                    });
                });
            };
        ps.roleHandler = {

            newRole: function () {
                ps.createDialog();
                $('#dialog').dialog({
                    iconCls: 'icon-save',
                    width: 400,
                    modal: true,
                    href: url,
                    onClose: function () {
                        $('#dialog').dialog("destroy");
                    },
                    buttons: [{
                        text: '添加',
                        iconCls: "icon-ok",
                        handler: postSave
                    },
                    {
                        text: '关闭',
                        iconCls: "icon-cancel",
                        handler: function () { $('#dialog').dialog("destroy"); }
                    }]
                }).dialog('open').dialog('center').dialog('setTitle', '添加角色');
            },
            editRole: function () {
                var row = $('#roleGrid').datagrid('getSelected');
                if (row) {
                    ps.createDialog();
                    $('#dialog').dialog({
                        iconCls: 'icon-save',
                        width: 400,
                        modal: true,
                        href: url + row.Id,
                        onClose: function () {
                            $('#dialog').dialog("destroy");
                        },
                        buttons: [{
                            text: '添加',
                            iconCls: "icon-ok",
                            handler: function () { putSave(row); }
                        }, {
                            text: '关闭',
                            iconCls: "icon-cancel",
                            handler: function () { $('#dialog').dialog("destroy"); }
                        }]
                    }).dialog('open').dialog('center').dialog('setTitle', '编辑角色');
                }
            },
            destroyRole: function (row) {
                var row = $('#roleGrid').datagrid('getSelected');
                if (row) {
                    $.messager.confirm('确认', '你确定要删除该角色？', function (r) {
                        if (r) {
                            $.ajax({
                                url: apiUrl + row.Id,
                                type: "Delete",
                                success: function (data) {
                                    $('#roleGrid').datagrid('reload');
                                }
                            }).fail(function (jqxhr) {
                                var result = jqxhr.responseJSON
                                $.messager.show({
                                    title: 'Error',
                                    msg: result.Message
                                });
                            })
                        }
                    });
                }
            }
        }
    } )(jQuery, ps);
</script>
