@model WebApi.Models.ApplicationUser
@{
    Layout = null;
}
<table id="userGrid"  class="easyui-datagrid" fit="true"
       url="@Url.HttpRouteUrl("DefaultApi", new { controller = "User" })"
       method="Get"
       toolbar="#userToolbar" pagination="true"
       rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
        <tr>
            <th field="Id" width="100">主键</th>
            <th field="UserName" width="100">用户名</th>
            <th field="PhoneNumber" width="100">手机号</th>
            <th field="PhoneNumberConfirmed" width="100">手机号验证</th>
            <th field="Email" width="100">电子邮箱</th>
            <th field="EmailConfirmed" width="100">邮箱验证</th>
            <th field="StatusString" width="100">账号状态</th>

        </tr>
    </thead>
</table>
<div id="userToolbar">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="ps.userHandler.newUser()">添加</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="ps.userHandler.editUser()">编辑</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="ps.userHandler.destroyUser()">删除</a>
</div>
<script type="text/javascript">
    (function ($, ps) {
        var apiUrl = "@Url.HttpRouteUrl("DefaultApi",new { Controller="User"})" + "/",
            url = "@Url.Action("UserDialog")" + "/",
            postSave = function () {
                if (!$("#userFm").form("validate")) return false;
                var data = $("#userFm").serialize();
                $.ajax({
                    url: apiUrl,
                    type: "Post",
                    data: data,
                    success: function (result) {
                        $('#dialog').dialog('destroy');
                        $('#userGrid').datagrid('reload');
                    }
                }).fail(function (jqxhr) {
                    var result = jqxhr.responseJSON
                    $.messager.show({
                        title: 'Error',
                        msg: result.Message
                    });
                });
            },
            putSave = function (row) {
                if (!$("#userFm").form("validate")) return false;
                var data = $("#userFm").serialize();
                $.ajax({
                    url: apiUrl + row.Id,
                    type: "Put",
                    data: data,
                    success: function (result) {
                        $('#dialog').dialog('destroy');
                        $('#userGrid').datagrid('reload');
                    }
                }).fail(function (jqxhr) {
                    var result = jqxhr.responseJSON
                    $.messager.show({
                        title: 'Error',
                        msg: result.Message
                    });
                });
            };

        ps.userHandler = {      
            newUser: function () {
                ps.createDialog();
                $('#dialog').dialog({
                    iconCls: 'icon-save',
                    width: 400,
                    modal: true,
                    href: url,
                    onClose: function () {
                        $('#dialog').dialog("destroy");
                    },
                    buttons: [{
                        text: '添加',
                        iconCls: "icon-ok",
                        handler: postSave
                    },
                    {
                        text: '关闭',
                        iconCls: "icon-cancel",
                        handler: function () { $('#dialog').dialog("destroy"); }
                    }]
                }).dialog('open').dialog('center').dialog('setTitle', '添加用户');
            },
            editUser: function () {
                var row = $('#userGrid').datagrid('getSelected');
                if (row) {
                    ps.createDialog();
                    $('#dialog').dialog({
                        iconCls: 'icon-save',
                        width: 400,
                        modal: true,
                        href: url + row.Id,
                        onClose: function () {
                            $('#dialog').dialog("destroy");
                        },
                        buttons: [{
                            text: '添加',
                            iconCls: "icon-ok",
                            handler: function () { putSave(row); }
                        }, {
                            text: '关闭',
                            iconCls: "icon-cancel",
                            handler: function () { $('#dialog').dialog("destroy"); }
                        }]
                    }).dialog('open').dialog('center').dialog('setTitle', '编辑用户');
                }
            },
            destroyUser: function (row) {
                var row = $('#userGrid').datagrid('getSelected');
                if (row) {
                    $.messager.confirm('确认', '你确定要删除该用户？', function (r) {
                        if (r) {
                            $.ajax({
                                url: apiUrl + row.Id,
                                type: "Delete",
                                success: function (data) {
                                    $('#userGrid').datagrid('reload');
                                }
                            }).fail(function (jqxhr) {
                                var result = jqxhr.responseJSON
                                $.messager.show({
                                    title: 'Error',
                                    msg: result.Message
                                });
                            })
                        }
                    });
                }
            }
        }
    } )(jQuery, ps);
</script>
