<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>测试页</title>
    @Styles.Render("~/Content/EasyUICss")

</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/EasyUI")
    @RenderSection("scripts",false)
</body>
</html>